.scope{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

body{
    position: relative;
}

.container{
    position: relative;
}

.top, .left, .bottom, .right{
    position: absolute;
    background-color: white;
}

.top, .bottom{
    width: 100vw;
}

.top{
    top: 0;
}

.bottom{
    bottom: 0;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.left, .right{
    height: 100vh;
    top: 0;
}